# dependencies
node_modules/
**/node_modules/
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# local data storage
/data
/codebase
/dataconnect
/functions
/notecart-app
/scripts
/src

# vercel
.vercel

# firebase
.firebase/
.firebaserc
firebase-debug.log
firebase-debug.*.log

# github
.github/

# typescript
*.tsbuildinfo
next-env.d.ts
FIREBASE_SETUP.md
